<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Emergency Disaster Management.</title>


    <!-- Bootstrap Core CSS -->
    <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/css/sb-admin-2.css" rel="stylesheet">

    <link href="css/loginpage.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a class="navbar-brand" href="/login">HOME</a>
        </div>
    </nav>
    <!-- /.navbar-header -->
    <h3 class="header">Emergency Disaster Management</h3>
    <br>
    <div class="container">
        <h1 class="well">Registration Form</h1>
        <div class="col-lg-12 well">
            <div class="row">
                <!-- <form role="form" method="post" action="window.location.href='login.html'" onSubmit="return validate(this)" name="form"> -->
                <!-- <form role="form" method="post" action="/" onsubmit="return formvalidate(this)" name="form"> -->
                <form method="POST" action="/eocregistration">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>First Name <font color="red">*</font></label>
                                <!-- <input type="text" placeholder="Enter First Name Here.." class="form-control" required="true" oninvalid="this.setCustomValidity('Enter First Name')"> -->
                                <input type="text" placeholder="Enter First Name Here.." class="form-control" required="true" name="firstname">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Last Name <font color="red">*</font></label>
                                <input type="text" placeholder="Enter Last Name Here.." class="form-control" required="true" name="lastname">
                            </div>
                        </div>


                        <!-- <div class="row">
                            <div class="col-sm-3 form-group">
                                <label>Userame</label>
                                <input type="text" placeholder="Enter Office Address Here.." class="form-control">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>City</label>
                                <input type="text" placeholder="Enter City Name Here.." class="form-control">
                            </div>
                        </div> -->
                        <!-- <div class="form-group">
                            <label>Home Address</label>
                            <textarea placeholder="Enter Address Here.." rows="3" class="form-control"></textarea>
                        </div> -->
                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label>Home</label>
                                <label>Address</label>
                                <input type="text" placeholder="Enter Office Address Here.." class="form-control" name="homeaddress">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>City</label>
                                <input type="text" placeholder="Enter City Name Here.." class="form-control" name="homecity">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>State</label>
                                <input type="text" placeholder="Enter State Name Here.." class="form-control" name="homestate">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>Zip</label>
                                <input type="text" placeholder="Enter Zip Code Here.." class="form-control" name="homezip">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label>Office Address</label>
                            <textarea placeholder="Enter Address Here.." rows="3" class="form-control"></textarea>
                        </div> -->
                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label>Office Address</label>
                                <input type="text" placeholder="Enter Office Address Here.." class="form-control" name="officeaddress">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>City</label>
                                <input type="text" placeholder="Enter City Name Here.." class="form-control" name="officecity">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>State</label>
                                <input type="text" placeholder="Enter State Name Here.." class="form-control" name="officestate">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>Zip</label>
                                <input type="text" placeholder="Enter Zip Code Here.." class="form-control" name="officezip">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Title</label>
                                <input type="text" placeholder="Enter Designation Here.." class="form-control" name="title">
                            </div>
                            <!-- <div class="col-sm-6 form-group">
                                <label>Company</label>
                                <input type="text" placeholder="Enter Company Name Here.." class="form-control">
                            </div> -->
                        </div>
                        <!-- <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" placeholder="Enter Phone Number Here.." class="form-control">
                        </div> -->
                        <!-- <label>PhoneNumber</label> -->
                        <div class="row">

                            <div class="col-sm-3 form-group">

                                <label>Mobile Phonenumber <font color="red">*</font></label>
                                <input type="tel" name="mobilenumber" pattern="^[0-9\-\+\s\(\)]*$" minlength="10" maxlength="10" placeholder="Enter Office Address Here.."
                                    class="form-control" required="true">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>Home Phonenumber</label>
                                <input type="tel" name="homenumber" placeholder="Enter City Name Here.." class="form-control">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>Office Phonenumber</label>
                                <input type="tel" name="officenumber" placeholder="Enter State Name Here.." class="form-control">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label>Email Address <font color="red">*</font></label>
                                <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter Email Address Here.."
                                    class="form-control" required="true">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>Password <font color="red">*</font></label>
                                <!-- link https://www.w3schools.com/tags/att_input_pattern.asp -->
                                <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter the password" class="form-control"
                                    required="true">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>Confirm Password <font color="red">*</font></label>
                                <input type="password" name="confirmpassword" placeholder="Enter the password again" class="form-control" required="true">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label></label>
                                <i id="passwordmismatch" name="passwordmismatch"></i>
                            </div>
                        </div>

                        <!-- jljljljljljljl -->

                        <div>
                            <label>Certifications</label><br>
                            <div class="row">
                                <div class="col-sm-2 form-group">
                                    <label class="checkbox-inline">
                                                <input type="checkbox" value="" class="certificationchecks"/>CERT certified
                                              </label>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label class="checkbox-inline">
                                                <input type="checkbox" value="" class="certificationchecks"/>EMR
                                        </label>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label class="checkbox-inline">
                                            <input type="checkbox" value="" class="certificationchecks"/>EMT-A/I
                                        </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 form-group">
                                    <label class="checkbox-inline">
                                                  <input type="checkbox" value="" class="certificationchecks"/>EMT-B
                                            </label>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label class="checkbox-inline">
                                                  <input type="checkbox" value="" class="certificationchecks"/>EMT-P
                                            </label>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label class="checkbox-inline">
                                                  <input type="checkbox" value="" class="certificationchecks"/>LPM
                                            </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2 form-group">
                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="" class="certificationchecks"/>Registered Nurse
                                                    </label>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="" class="certificationchecks"/>Nurse Practitioner
                                                    </label>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="" class="certificationchecks"/>Doctor
                                                    </label>
                                </div>
                                <br>
                            </div>
                        </div>
                        <label>Others</label><br>
                        <textarea rows="6" cols="100"></textarea>


                    </div><br>



                    <!-- jlyihkljkl -->

                    <!-- <button class="btn btn-lg btn-success btn-block" type="submit">Login</button> -->
                    <button class="btn btn-lg btn-success" type="submit">Submit</button>
                    <!-- </div> -->
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="css/css/sb-admin-2.js"></script>

    <script>
        function formvalidate(form) {
            console.log('you have entered form validate');
            var password = form.password.value;
            var confirmpassword = form.confirmpassword.value;
            if (password != confirmpassword) {
                console.log('comparing passwords');
                form.passwordmismatch.innerHTML = "The passwords didnt match";
            }
        }

        var ck_name = /^[A-Za-z0-9 ]{3,20}$/;
        var ck_email = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;
        var ck_username = /^[A-Za-z0-9_]{1,20}$/;
        var ck_password = /^[A-Za-z0-9!@#$%^&*()_]{6,20}$/;

        function validate(form) {
            console.log("entered here");
            var email = form.email.value;
            var password = form.password.value;
            var errors = [];
            if (!ck_email.test(email)) {
                errors[errors.length] = "You must enter a valid email address.";
            }
            if (!ck_password.test(password)) {
                errors[errors.length] = "You must enter a valid Password ";
            }
            if (errors.length > 0) {

                reportErrors(errors);
                return false;
            }
            return true;
        }

        function reportErrors(errors) {
            // var msg = "Please Enter Valide Data...\n";
            var msg = "";
            for (var i = 0; i < errors.length; i++) {
                var numError = i + 1;
                msg += "\n" + numError + ". " + errors[i];
            }
            document.getElementById("warningmessage").innerHTML = msg;
        }
    </script>

</body>

</html>