<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Emergency Disaster Management.</title>

    <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/css/sb-admin-2.css" rel="stylesheet">

    <link href="css/loginpage.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- new set of links -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>


</head>

<body>

    <!-- <div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center"> -->

    <!-- <form method="post" onsubmit="validate(this)"> -->
        <h3 class="header">Emergency Disaster Management</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <!-- <h3><i class="fa fa-lock fa-4x"></i></h3> -->
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">

                                <form class="form" method="post" action="forgotpassword" onsubmit="return validate(this);">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>

                                                <input id="emailInput" class="form-control" placeholder="E-mail" name="email" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <!-- <input class="btn btn-lg btn-success btn-block" value="Send My Password" type="submit"> -->
                                            <button class="btn btn-lg btn-success btn-block" type="submit">Send My Password</button>
                                        </div>
                                    </fieldset>
                                </form>

                                <i id="warningmessage"></i>
                                <h3 id=result></h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>


    <!-- </form> -->
    <script>
        function movetodashboard() {
            window.location
        }
        // var ck_name = /^[A-Za-z0-9 ]{3,20}$/;
        var ck_email = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;
        // var ck_username = /^[A-Za-z0-9_]{1,20}$/;
        // var ck_password = /^[A-Za-z0-9!@#$%^&*()_]{6,20}$/;

        function validate(form) {
            console.log("entered here in validate forgot password");
            var email = form.email.value;
            console.log('forgot password page: email obtained', email);
            // var password = form.password.value;

            var errors = [];


            if (!ck_email.test(email)) {
                errors[errors.length] = "You must enter a valid email address";
            }
            else{
                errors[errors.length] = "Your pwd has been sent to your mail";
            }

            // if (!ck_password.test(password)) {
            //     errors[errors.length] = "You must enter a valid Password";
            // }

            if (errors.length > 0) {

                reportErrors(errors);
                return false;
            }
            return true;
        }

        function reportErrors(errors) {
            // var msg = "Please Enter Valide Data...\n";
            var msg = "";
            for (var i = 0; i < errors.length; i++) {
                var numError = i + 1;
                // msg += "\n" + "" + errors[i]+"\n";
                msg += "<b>" + errors[i] + "<b><br>";
            }
            document.getElementById("warningmessage").innerHTML = msg;
        }
    </script>


    <script src="js/sb-admin-2.js"></script>
</body>

</html>