<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Emergency Disaster Management</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- new set of links -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
        
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.16/pagination/ellipses.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/eocdashboard">Emergency Disaster Management</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Mail 1</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Content Of Mail 1</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Mail 2</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Content of Mail 2</div>
                            </a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Disaster 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Disaster 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Disaster 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Disaster 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <!-- <li class="divider"></li> 
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li> -->
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> UserName</a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li> -->
                        <li class="divider"></li>
                        <li><a href="/login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

</nav>
            <!-- end of top navigation -->


            <!-- Page Content -->


            <!-- <br><br><br>
            <%= registerationmessage %>
            <br> -->
            
                <h3 style=text-align:center >Register A Disaster</h3>
                <form method="post" action="/registeradisaster">


                    <!--         
                        <div class="form-group">
                            <label>Disaster Type</label>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" name="disasterdropdown" type="button" data-toggle="dropdown">Type Of Disaster
                        <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Earthquake</a></li>
                                    <li><a>Fire</a></li>
                                    <li><a>Floods</a></li>
                                    <li><a>Cyclone</a></li>
                                    <li><a>Hurricane</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Contact Person</label>
                            <input type="text" name="contactperson" class="form-control" id="contactperson" placeholder="Assigned To">
                        </div>
                        <div>
                            <label>Location</label>
                            <input type="text" name="location" class="form-control" id="location" placeholder="location of the disaster">
                        </div>
                        <div>
                            <label>Latitude</label>
                            <input type="text" name="latitude" class="form-control" id="latitude" placeholder="latitude of the disaster">
                        </div>
                        <div>
                            <label>Longitude</label>
                            <input type="text" name="longitude" class="form-control" id="longitude" placeholder="longitude of the disaster">
                        </div>
                        <div>
                            <label>Disaster Date and Time: </label>
                            <!-- <input id="date" type="date" value="2017-10-05" /> -->
                    <!--
                            <br>
                            <input type="datetime-local" name="dateandtime">
                        </div>
                        <!-- <div class="checkbox">
                        <label><input type="checkbox" name="remember"> Remember me</label>
                    </div> -->
                    <!--
                    <br>
                        <button type="submit" class="btn btn-default">Submit</button>
                        <br><br><br>  -->

                    <!-- ===================================================================================================== -->
                    <!-- new form for single line structure -->
                    <!-- ======================================================================= -->
                    <!-- <form method="post" action="/registeradisaster"> -->
                    <!-- start of div of first line -->
                    <div class="container">
                    <div>
                        <div class="form-group col-xs-2">
                            <%= errormessage %>
                            <label>Disaster Type</label>
                           
                            <select class="form-control" name="disasterdropdown" required="">
                                    <option value="Select">Select a disaster</option>
                                    <option value="Earthquake">Earthquake</option>
                                    <option value="Fire">Fire</option>
                                    <option value="Floods">Floods</option>
                                    <option value="Cyclone">Cyclone</option>
                                    <option value="Hurricane">Hurricane</option>
                                  </select>
                        </div>
                        <div class="form-group col-xs-2">
                            <label>DisasterName</label>
                            <input type="text" name="disastername" class="form-control" id="disastername" placeholder="name of the disaster">
                        </div>
                        <!-- <div class="form-group col-xs-2">
                            <label>Contact Person</label>
                            <input type="text" name="contactperson" class="form-control" id="contactperson" placeholder="Assigned To">
                        </div> -->
                        <div class="form-group col-xs-2">
                            <label>Location</label>
                            <input type="text" name="location" class="form-control" id="location" placeholder="location of the disaster" required="">
                        </div>
                        <div class="form-group col-xs-2">
                            <label>Latitude</label>
                            <input type="text" name="latitude" class="form-control" id="latitude" placeholder="latitude of the disaster" required="">
                        </div>
                    </div>
                    <div class="form-group col-xs-2">
                        <label>Longitude</label>
                        <input type="text" name="longitude" class="form-control" id="longitude" placeholder="longitude of the disaster" required="">
                    </div>
                    
                    <div class="form-group col-xs-2">
                        <label>Disaster Date and Time: </label>
                        <!-- <input id="date" type="date" value="2017-10-05" /> -->
                        
                        <input type="datetime-local" name="dateandtime" required="">
                    </div>

                    <!-- <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div> -->
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    <!-- <div>asdf
                    </div> -->
                <!-- </div> -->
                    <div class="form-group col-xs-2" align="center">
                        <!-- <label>Click to submit </label> -->
                         <button style=text-align:center;margin:auto type="submit" class="btn btn-lg btn-success">Submit</button>

                    </div>
               
                    <!-- <div class="form-group col-xs-2">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div> -->
                    <!-- ====================================================================== -->
                    <!-- end of second part of the form -->
                    <!-- ====================================================================== -->

                </form>


            </div>

            <hr>
            <!-- <center>jafj</center> -->


            <!-- <% var disastertext; %> -->



            <!-- populating table -->
            <br>
            <div class="col-xs-10" align="center" style="margin-left: auto;
            margin-right: auto;
            max-width: 1000px;
            float: none;">
                <table class="table table-striped table-bordered" id="table" onload="CreateTableFromJSON(disastertext)">
                    <thead>
                        <tr id="tablehead">

                            <th>Disaster Name</th>
                            <th>Disaster Type</th>
                            <th class="hidden">contactPerson</th>
                            <th>location</th>
                            <th>latitude</th>
                            <th>longitude</th>
                            <th>dateandtime</th>
                            <th>View Disaster</th>
                            <!-- <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th> -->
                        </tr>
                    </thead>
                    <tbody id="rowdata">
                        <% for(let i=0; i<disasterdata.length;i++){ %>

                            <tr>
                                <td>
                                    <%= disasterdata[i].disastername %>
                                </td>
                                <td>
                                    <%= disasterdata[i].disasterdropdown %>
                                </td>
                                <td class="hidden">
                                    <%= disasterdata[i].contactperson %>
                                </td>
                                <td>
                                    <%= disasterdata[i].location %>
                                </td>
                                <td>
                                    <%= disasterdata[i].latitude %>
                                </td>
                                <td>
                                    <%= disasterdata[i].longitude %>
                                </td>
                                <td>
                                    <%= disasterdata[i].dateandtime %>
                                </td>
                                <!-- <% var disasterurl="/disasterpage_"+JSON.stringify(disasterdata[i].disastername); %> -->


                                <!-- <td><button class="btn btn-primary" onclick="console.log('yupiee i got clicked');window.location.href=disasterurl;">Click Me! </button></td> -->
                                <!-- <td><button class="btn btn-primary" onclick="console.log('yupiee i got clicked');window.location.href=disasterurl;">Click Me! </button></td> -->
                                <form method="get"><td> <button><a href="/disasterpage_<%= disasterdata[i].disastername %>">Click Me!</a></button></td></form>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>


            <!-- <table class="table table-bordered">
            <% for(let i=0; i<disasterdata.length;i++){ %>
                <tr>
                    <td><%= disasterdata[i] %></td>
                    <td><%= disasterdata[i].location %></td>
                </tr>
            <% } %>
            </table> -->

            <!-- jQuery -->
          
            <!-- <script src="vendor/jquery/jquery.min.js"></script> -->

            <!-- Bootstrap Core JavaScript -->
            <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

            <!-- Metis Menu Plugin JavaScript -->
            <script src="vendor/metisMenu/metisMenu.min.js"></script>

            <!-- Custom Theme JavaScript -->
            <script src="css/css/sb-admin-2.js"></script>

            <script type=text/javascript src="datatable/dtable.js"></script>
            

            <!-- end of table -->



    </div>
    <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
<!--
    
    <script src="vendor/jquery/jquery.min.js"></script>
-->
    <!-- Bootstrap Core JavaScript 
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->
    <!-- Metis Menu Plugin JavaScript 
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

   Custom Theme JavaScript 
    <script src="css/css/sb-admin-2.js"></script>

     js for disastermdoeldisplay 
    <script src="js/displaydisaster.js"></script>


    -->
    <!-- <script>

    

        function CreateTableFromJSON(inputarray) {
            console.log("input array in createtablefromjson: ", inputarray);
            console.log("call to the function create table from json");
            var alldisasters = inputarray;
            var col = [];
            for (var i = 0; i < alldisasters.length; i++) {
                for (var key in alldisasters[i]) {
                    if (col.indexOf(key) === -1) {
                        col.push(key);
                    }
                }
            }
            var colhead = document.getElementById("tablehead").innerHTML;
            for (var headdata = 0; headdata < col.length; headdata++) {
                $("#tablehead").append("<th>" + col[headdata] + "</th>");
            }
            for (var i = 0; i < alldisasters.length; i++) {
                var eachrowdata = "<tr>";
                for (var j = 0; j < col.length; j++) {
                    var eachrowdata = eachrowdata + "<td>" + myBooks[i][col[j]] + "</td>";
                }
                eachrowdata = eachrowdata + "</tr>"
                $("#rowdata").append(eachrowdata);
            }
        }
       
    </script> -->
   
</body>

</html>